<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>标签编辑</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css" th:href="@{/lib/layui/dist/css/layui.css}">
    <link rel="stylesheet" href="../css/icofont/icofont.min.css" th:href="@{/css/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../css/blog/admin/admin.css" th:href="@{/css/blog/admin/admin.css}">
</head>

<body>

<div class="layui-layout layui-layout-admin">

    <!--导航栏-->
    <div th:replace="commons :: admin-nav(3)"></div>


    <!-- 内容主体区域 -->
    <div class="layui-body blog-edit">

        <form th:action="@{/admin/label/edit}" method="POST"
              class="layui-form layui-form-pane">
            <input type="hidden" name="option" th:value="${option}">
            <!-- 标题 -->
            <div class="layui-form-item">
                <label class="layui-form-label">
                    标签名
                </label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" th:value="${label != null}  ? ${label.name} : ''"
                           name="name" required lay-verify="required"
                           placeholder="请输入标签名">
                </div>
            </div>
            <!-- 描述框 -->
            <div class="layui-form-item">
                <label class="layui-form-label">
                    样式
                </label>
                <div class="layui-input-block">
                    <input class="layui-input" th:value="${label != null ? label.style : ''}"
                           name="style" placeholder="请输入样式">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
                </div>
            </div>
        </form>


        <!-- 
        <div class="layui-footer">
            底部固定区域
        </div> -->
    </div>

</div>
<!--jquery-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"
        th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!-- 引入编辑器 -->
<script src="../lib/editor/editormd.min.js"
        th:src="@{/lib/editor/editormd.min.js}"></script>
<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"
        th:src="@{/lib/layui/dist/layui.js}"></script>
<script th:inline="javascript">

    //JS
    layui.use(['element', 'layer', 'form'], function () {
        var element = layui.element
            , layer = layui.layer
            , form = layui.form
            , $ = layui.$;

        // 得到服务端传来的提示信息
        var msg = /*[[${msg}]]*/ "";
        // 不为空就提示
        if (msg != null) {
            layer.msg(msg, {
                time: 2000,
                icon: 2
            })
        }
    });

</script>

</body>

</html>